.connexion-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.confirm-password-field {
  padding: 0 15px;
  margin-top: -10px; /* Colle un peu au champ précédent */
  animation: fadeIn 0.3s;
}

.confirm-password-field input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background: var(--gradient-card-main-input);
  color: var(--color-text);
  font-family: var(--font-family-text);
}

@media (max-width: 768px) {
  .confirm-password-field {
    padding: 0;
  }
}