.filter-header {
  position: relative;
  margin-bottom: 15px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-header h3 {
  color: var(--color-text);
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  font-family: var(--font-family-title);
}

.close-filter {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.close-filter:hover {
  transform: rotate(90deg);
  transition: 0.3s;
}
