.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: var(--hover-option-select-filter);
  border-radius: 8px;
}

.stat-label {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
}

.stat-value {
  font-weight: bold;
}

@media (max-width: 600px) {
  .stat-label {
    font-size: 11px;
  }

  .stat-value {
    font-size: 13px;
  }
}
