/* ------------------ LAYOUT ------------------ */

.signupPart1-section-wrapper {
  width: 90%;
  height: 100vh;
  box-sizing: border-box;
}

.signupPart1-form-container {
  width: 90%;
  max-width: 500px;
  /* background: var(--gradient-card-secondary); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 20px; */
  /* box-shadow: var(--shadow-main); */
  padding: clamp(20px, 5vw, 30px);
  box-sizing: border-box;
}

.form-title {
  font-family: var(--font-family-title);
  font-size: clamp(30px, 4vw, 40px);
  font-weight: bold;
  line-height: 25px;
  margin: 0 0 40px 0;
  text-shadow: var(--shadow-auth);
}

.signupPart1-form {
  padding: clamp(20px, 5vw, 30px);
  box-sizing: border-box;
  /* background: var(--gradient-card-main-input); */
  /* border: 1px solid var(--color-border); */
  /* border-radius: 20px; */
  /* box-shadow: var(--shadow-secondary); */
}

.submit-button {
  font-family: var(--font-family-title);
  color: var(--color-text);
  background: var(--gradient-blue);
  border-radius: 30px;
  font-size: clamp(13px, 3vw, 14px);
  width: clamp(160px, 50vw, 200px);
  height: clamp(30px, 5vw, 40px);
  margin-bottom: 30px;
  padding: 0;
}

.login-account {
  font-size: clamp(11px, 3vw, 12px);
  color: var(--color-text);
  line-height: clamp(12px, 3vw, 13px);
  margin: 0;
}

.login-account-link {
  color: var(--color-text-link);
  text-decoration: none;
}

.error-message{
    color: rgb(240, 76, 76);
    margin-top: -15px;
    margin-bottom: 15px;
}

/* ------------------ MEDIA QUERY ------------------ */

@media (max-width: 600px) {
  .login-form-container {
    width: 95%;
    padding: 20px;
  }

  .submit-button {
    width: 80%;
    padding: 10px 0;
  }
}
