/* Logo animé futuriste */
.loading-logo {
    width: 90px;
    height: 90px;
}

/* Loader container */
.futuristic-loader {
    width: 260px;
    height: 10px;
    border-radius: 20px;
    position: relative;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(5px);
}

/* Barre animée */
.futuristic-loader hr {
    height: 100%;
    width: 0%;
    border: none;
    border-radius: 20px;
    background: var(--color-border);
    box-shadow: var(--shadow-loader);
    position: relative;
    animation: progressBar 2.8s ease-out forwards;
}


@keyframes progressBar {
    0% { width: 0%; }
    100% { width: 100%; }
}
