.navbar-actions-links {
  gap: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-link-profile{
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-link-deconnect {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-link-profile,
.deconnect-text {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logout-text {
  background: var(--gradient-deconnexion);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.deconnect-text{
  display: flex;
  align-items: center;
}

.logo-deconect{
  color: var(--color-logo-deconnexion);
}