/* AddEditGame Sections - Central CSS Import */

@import "./modules/BasicSections/BasicSections.css";
@import "./modules/DetailsSection/DetailsSection.css";
@import "./modules/InfoSections/InfoSections.css";
@import "./modules/TagsSection/TagsSection.css";

.form-grid > .form-group {
  height: fit-content;
  margin-top: 10px;
}

.btn-quick-add {
  background: transparent;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-quick-add:hover {
  transform: scale(1.2) rotate(90deg);
}
