.footer-section {
    margin-top: 40px;
    border-top: 1px solid rgba(90, 242, 255, 0.1);
    padding-top: 20px;
    overflow: hidden; /* Empêche le scroll horizontal de la page entière */
}

.footer-title {
    font-family: var(--font-family-title);
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-left: 20px; /* Alignement du titre */
    opacity: 0.8;
}

.recent-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.recent-card-wrapper {
    flex-shrink: 0;
    scroll-snap-align: center;
    position: relative;
    padding: 10px 0; 
    border: 1px solid var(--color-border);
    margin-left: auto;
    margin-right: auto;
}

/* Nouveau container pour gérer le positionnement des flèches et la marge */
.detail-carousel {
    margin-top: 5%;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* On nettoie les styles qui pourraient créer la double bordure */
.observer-item {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    scroll-snap-align: center;
    flex-shrink: 0;
}

.console-entry-anim, .recent-card-wrapper {
    scroll-snap-align: center;
}

@media (max-width: 768px) {
    .recent-scroll {
        /* Plus d'espace sur les côtés sur mobile pour l'effet active */
        padding: 20px 25px; 
    }

    .detail-carousel {
        margin-top: 20px;
        width: 90%;
    }

    .game-cards-container, .recent-scroll, .games-list-scroll {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        
        /* Le padding doit être égal à la moitié de la largeur du conteneur 
        moins la moitié de la largeur d'une carte pour un centrage parfait */
        padding-left: calc(10%) !important; 
        padding-right: calc(10%) !important;
    }
}

@media (min-width: 768px) {
    .arrow-left { 
        display: none;
    }
    
    .arrow-right { 
        display: none;
    }
}