.game-card {
    min-width: 150px;
    height: 240px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    background: var(--gradient-card-secondary);
}

.game-name {
    margin-top: auto;
    font-size: 16px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    .game-card {
        flex: 1;
        min-width: 0;
    }
}