/* index.css -> main.jsx */
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  --font-family-title: 'Montserrat Alternates', sans-serif;
  --font-family-text: 'Lato', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  /* Base */
  --color-bg-btn: #001128;
  --color-text: #5AF2FF;

  /* Bordure */
  --color-border: #0068AC;
  --color-border-separator: rgba(90, 242, 255, 0.2);
  --color-border-menu-mobile: rgba(90, 242, 255, 0.3);
  --color-border-category-selector: rgba(0, 104, 172, 0.3);
  --color-border-loader-auth: rgba(255, 255, 255, 0.3);

  /* Textes */
  --text-title: var(--color-text);
  --text-search: #64748B;
  --color-text-muted: #838e9e;

  /* Shadows */
  --shadow-auth: 0 0 20px rgba(255,255,255,0.6);
  --shadow-main: 0 0 10px rgba(255,255,255,0.3);
  --shadow-secondary: 0 0 7px rgba(255,255,255,0.15);
  --shadow-navbar: 0 4px 16px rgba(255,255,255,0.25);
  --shadow-loader: 0 0px 16px rgba(255,255,255,0.3);
  --shadow-btn: 4px 4px 5px rgba(255,255,255,0.5);
  --shadow-input-simple-focus: 0 0 0 2px #0068AC;
  --shadow-favorite: 0 2px 4px rgba(0,0,0,0.5);
  --shadow-filtre-result: 0 4px 15px rgba(0, 104, 172, 0.4);
  --shadow-card-detail: 0 2px 25px rgba(0, 0, 0, 0.3);
  --shadow-menu-mobile-addEditGame: 0 0 30px rgba(90, 242, 255, 0.2);
  --shadow-btn-auth: 0 0 15px rgba(90, 242, 255, 0.4);

  /* Dégradés */
  --gradient-card-secondary: linear-gradient(47deg, #002759 0%, #001A44 80%);
  --gradient-card-main-input: linear-gradient(47deg, #00204F 0%, #001D48 80%);
  --gradient-blue: linear-gradient(47deg, #077BEF 0%, #0646D4 60%);
  --gradient-account: linear-gradient(47deg, #1C79C6 0%, #0A3174 60%);
  --gradient-success: linear-gradient(47deg, #4AAC4E 0%, #2E7D32 60%);
  --gradient-deconnexion: linear-gradient(90deg, #EF4444 0%, #B91C1C 50%, #EF4444 100%);
  --gradient-delete: linear-gradient(47deg, #EF4444 0%, #B91C1C 60%);
  --gradient-option-selected-filtre: linear-gradient(90deg, rgba(0, 255, 255, 0.15) 0%, rgba(0, 255, 255, 0.05) 100%);
  --gradient-auth: radial-gradient(circle at center, #001a3a 0%, #000814 100%);
  --gradient-chargment-vertical: linear-gradient(rgba(0, 104, 172, 0.05) 1px, transparent 1px);
  --gradient-chargement-horizontal: linear-gradient(90deg, rgba(0, 104, 172, 0.05) 1px, transparent 1px);

  /* Tags */
  --tag-gray: #6C6C6C;
  --tag-owned-bg: #21342C;
  --tag-owned-border: #6AD09D;
  --tag-owned-text: #6AD09D;

  --tag-status-bg: #3B3B3B;
  --tag-status-border: #A8A8A8;
  --tag-status-text: #A8A8A8;

  /* Other*/
  --color-orange: #E9A23B;
  --color-text-btn: #001128;
  --color-text-link: #36CDFA;
  --color-star-note: #f1c40f;
  --input-bg-solid: #101623;
  --color-indicator-online: #0EB43D;
  --color-logo-deconnexion: #EF4444;
  --bg-hover-theme-lang: rgba(255, 255, 255, 0.25);
  --color-text-btn-account: #5AF2FF;
  --color-btn-tag: #344767;
  --bg-btn-menu-mobile: rgba(6, 11, 25, 0.85);
  --bg-btn-close-menu-mobile: rgba(40, 10, 10, 0.9);
  --bg-menu-mobile: rgba(15, 23, 42, 0.95);
  --bg-custom-select: rgba(90, 242, 255, 0.1);
  --color-custom-select: rgba(90, 242, 255, 0.3);
  --bg-no-image: rgba(255, 255, 255, 0.05);
  --bg-modal: rgba(0, 0, 0, 0.5);
  --bg-category-selector: rgba(0, 104, 172, 0.2);
  --color-edit-category: #6EB269;
  --color-del-category: #FF0000;
  --bg-cancel-btn: rgba(90, 242, 255, 0.1);
  --color-scrollbar-thumb: #0068AC;
  --bg-arrow: rgba(0, 17, 40, 0.7);
  --bg-filtre: #000f24;
  --bg-filtre-active: #020b18;
  --color-border-filtre: #00ffff33;
  --color-reset-filter: #ff6b6b;
  --bg-boder-reset-filter: rgba(255, 107, 107, 0.1);
  --bg-accordeon-filter: rgba(3, 31, 60, 0.6);
  --bg-accordeon-filtr-hover: rgba(0, 255, 255, 0.05);
  --color-border-accordeon-filter: #00ffff33;
  --color-clear-filter: #94a3b8;
  --hover-btn-plus-filtre: rgba(0, 255, 255, 0.1);
  --bg-option-select-filter: rgba(0, 255, 255, 0.1);
  --hover-option-select-filter: rgba(255, 255, 255, 0.05);
  --bg-accordeon-category: rgba(0, 0, 0, 0.2);
  --color-border-detail-stat: rgba(255, 255, 255, 0.08);
  --input-bg-solid: #0b121f;
  --hover-dropdown-addEditGame: rgba(90, 242, 255, 0.15);
  --color-tag-badge: #004a7c;
  --bg-register-avancement: rgba(0, 104, 172, 0.2);
  --color-succes-modif-game: #4ADE80;
  --bg-succes-modif-game: rgba(74, 222, 128, 0.4);;
}

/* ===========================
   THEME LIGHT
   =========================== */
[data-theme="light"] {
   /* Base */
  --color-bg-btn: #F5F9FF;
  --color-text: #0068AC;

  /* Bordure */
  --color-border: #0068AC;
  --color-border-separator: #CBD5E1;

  /* Textes */
  --text-title: var(--color-text);
  --text-default: var(--color-text);
  --text-search: #7A8CA5;

  /* Shadows */
  --shadow-auth: 0 0 20px rgba(0,0,0,0,0.6);
  --shadow-main: 0 0 10px rgba(0,0,0,0,0.2);
  --shadow-secondary: 0 0 7px rgba(0,0,0,0,0.1);
  --shadow-navbar: 0 4px 16px rgba(0,0,0,0,0.2);
  --shadow-loader: 0 0px 16px rgba(0,0,0,0,0.3);
  --shadow-btn: 4px 4px 5px rgba(0,0,0,0.5);

  /* Dégradés */
  --gradient-card-secondary: linear-gradient(47deg, #D8ECFF 0%, #BFD9F5 80%);
  --gradient-card-main-input: linear-gradient(47deg, #E6F2FF 0%, #D3E6F8 80%);
  --gradient-blue: linear-gradient(47deg, #2C8FFF 0%, #0E55CE 60%);
  --gradient-account: linear-gradient(47deg, #5BB3FF 0%, #1C63C4 60%);
  --gradient-success: linear-gradient(47deg, #6EDB6E 0%, #368F3D 60%);
  --gradient-deconnexion: linear-gradient(90deg, #FF6A6A 0%, #D23535 50%, #FF6A6A 100%);
  --gradient-delete: linear-gradient(47deg, #FF6A6A 0%, #D23535 60%);

  /* Tags */
  --tag-gray: #D0D0D0;
  --tag-owned-bg: #DDF4E7;
  --tag-owned-border: #4ECB97;
  --tag-owned-text: #197A54;

  --tag-status-bg: #E3E3E3;
  --tag-status-border: #A2A2A2;
  --tag-status-text: #595959;

  /* Other*/
  --color-orange: #C47A00;
  --color-text-btn: #001128;
  --color-text-link: #0087D1;
  --input-bg-solid: #101623;
  --color-indicator-online: #0EB43D;
  --color-logo-deconnexion: #EF4444;
  --bg-hover-theme-lang: rgba(0, 0, 0, 0.1);
  --color-text-btn-account: #5AF2FF;
  --color-btn-tag: #344767;
}

body {
  font-family: var(--font-family-text);
  margin: 0;
  background-color: var(--color-bg-btn);
  color: var(--color-text);
}

#app-container {
  border-radius: 40px;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-btn);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

#root, #app-container {
  height: 100vh;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100%;      
  position: relative;
}

/* ===========================
   SCROLLBAR 
=========================== */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border) var(--color-bg-btn);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: var(--color-bg-btn); 
  border-left: 1px solid rgba(255, 255, 255, 0.05); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 4px; 
  border: 2px solid var(--color-bg-btn); 
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text);
  box-shadow: 0 0 10px var(--color-text);
  cursor: pointer;
}

::-webkit-scrollbar-corner {
  background: var(--color-bg-btn);
}